<aside>
        
    <div class="top">
        <div class="logo">
            <h2>Mon<span class="danger">Etab</span></h2>
        </div>
        <div class="close" id="close-btn">
            <span class="material-icons sharp">close</span>
        </div>
    </div>
    <div class="sidebar">
        <a href="">
            <span class="material-icons sharp">dashboard</span>
            <h3>Dashboard</h3>
        </a>
        <a href="">
            <span class="material-symbols-outlined">
                settings_applications
                </span>
            <h3>Paramètre de l'application</h3>
        </a>
        <a href="">
            <span class="material-symbols-outlined">
                settings_accessibility
                </span>
            <h3>Paramètre de l'école</h3>
        </a>
        <a href="">
            <span class="material-symbols-outlined">
                location_on
                </span>
            <h3>address</h3>
        </a>
        <a href="" class="active">
            <span class="material-icons sharp">groups</span>
            <h3>élèves</h3>
        </a>
        <a href="" >
            <span class="material-icons sharp">groups</span>
            <h3>élèves-absence</h3>
        </a>
        <a href="" >
            <span class="material-icons sharp">groups</span>
            <h3>élèves-card</h3>
        </a>
        <a href="">
            <span class="material-icons sharp">supervisor_account</span>
            <h3>Professeurs</h3>
        </a>
        <a href="">
            <span class="material-icons sharp">supervisor_account</span>
            <h3>Role</h3>
        </a>
        <a href="">
            <span class="material-icons sharp">person</span>
            <h3>Utilisateurs</h3>
        </a>
        <a href="">
            <span class="material-icons sharp">analytics</span>
            <h3>Rapports</h3>
        </a>

        <a href="">
            <span class="material-icons sharp">logout</span>
        
            <h3>Déconnexion</h3>
        </a>
    </div>


</aside>



