
<main>
    <h1>Tableau de bord</h1>
    <div class="date">
               <input type="date">
           </div>

           <div class="insights">
               <div class="sales">
                   <div class="middle">
                       <div class="left">
                           <h3>Nombre d'etudiants</h3>
                           <h1></h1>
                       </div>
                     
                   </div>
               </div>

               
               <div class="expenses">
                   <div class="middle">
                       <div class="left">
                           <h3>Nombre de professeurs</h3>
                           <h1></h1>
                       </div>
                       <div class="progress">
                        
                       </div> 
                   </div>
                   
               </div>

               <div class="income">
                   <div class="middle">
                       <div class="left">
                           <h3>Nombre d'utilisateurs</h3>
                           <h1></h1>
                       </div>
                      
                   </div>
               </div>
               <div class="middle">
                   <canvas id="genderChart"></canvas>
               </div>

               
           </div>

         



</main>

   